* {
    margin: -1%;
    padding: 1%;

    
}

h3{
    margin-left: 25px;
    margin-top: 25px;

}
 body {
    background-color: white;
    height: 100vh;
    font-family: 'Bebas Neue';
    color:black;

 }
 .container {
    width: 100%;
    height: 100vh;
 }
 

 .d-block w-100  {
     width: 50px;
 }
.juishi {
    width: 10%;
}
 ul {
     list-style: none;
 }

 .nav {
     position: absolute;
     top: 50%;
     margin-left: 30px;
     transform: translateY(-50%);

 }

 .nav-right {
    position: absolute;
    top: 50%;
    margin-right: 30px;
    transform: translateY(-50%);

}

.nav-right ul li {
    position: relative;
    padding: 5px 0;
    
}

.nav-right ul li a {
    text-decoration: none;
    color:black;
    font-size: 80%;
}



 nav ul li {
     position: relative;
     padding: 5px 0;
     
 }

 .nav ul li a {
     text-decoration: none;
     color:black;
     font-size: 80%;
 }

 .container2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: right;
}
    
    
}

.navlist2 {
    text-decoration: none;
    color:black;
    font-size: 80%;

}

.row {
    display: flex;
    flex: 50%;
}

.left_sidebar {
    flex: 20%;
}

.right_sidebar {
    flex: 20%;
}
.carousel {
    margin-top: 45px;
    width:440px;
    height:260px;
    position: relative;
    
  }

.carousel-item {
    text-align: center;
    transition: transform 4s ease-in-out,-webkit-transform 4xxs ease-in-out;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f0f' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f0f' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

.content_container {
    flex: 60%;
}
.info_container {
    display: flex;
    justify-content: center;
}

.info_section {
    text-align: end;
    font-size: 30px;
    margin-top: 20%;
}


 @media screen and (min-width: 730px) {
     .tr{
         display: inline-block;
         width: 30%;
    
     }
     
 }